<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>BOB Reporting</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />


</head>
<style>
hr.style-four {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
</style>
<body>



	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Spring Boot</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container">

		<div class="starter-template">
			<h1>BOB Reporting</h1>

			<div class="p-3 mb-2 bg-primary text-white">
				<h2>
					<span
						th:text="'Nombre de programme d\'appel: ' +${totalCallPrograms}"></span>
				</h2>
			</div>


			<br></br>
			<table class="table table-striped">
				<tr>
					<th>Id programme d'appel</th>
					<th>Nombre de chronique enregistré</th>
				</tr>
				<tr th:each="callProgram : ${callPrograms}">
					<td><span th:text="${callProgram.id}"></td>
					<td><span th:text="${callProgram.chronicalTotal}"></td>
				</tr>
			</table>
			<hr class="style-four">
			<table class="table table-striped">
				<tr>
					<th>Identifiant programme d'appel</th>
					<th>Identifiant chronique enregistrée</th>
					<th>Nombre de points de la chronique enregistrée</th>
				</tr>
				<tr th:each="chronic : ${chronics}">
					<td><span th:text="${chronic.programmeappel_id}"></td>
					<td><span th:text="${chronic.id}"></td>
					<td><span th:text="${chronic.pointsTotal}"></td>
				</tr>
			</table>
			<hr class="style-four">
						<div class="p-3 mb-2 bg-primary text-white">
			<h2>
				<span
					th:text="'Nombre d\'offres enregistrées suite a l\'éxecution du Batch Syga'"></span>
			</h2>
			</div>
			<br></br>
			<table class="table table-striped">
				<tr>
					<th>Identifiant du Syga batch</th>
					<th>Syga batch start time</th>
					<th>Nombre des offres enregistrées</th>
				</tr>
				<tr th:each="batchExecution : ${batchExecutions}">
					<td><span th:text="${batchExecution.batch_id}"></td>
					<td><span th:text="${batchExecution.start_time}"></td>
					<td><span th:text="${batchExecution.total_offers}"></td>
				</tr>
			</table>
			<hr class="style-four">
						<div class="p-3 mb-2 bg-primary text-white">
			<h2>
				<span
					th:text="'Nombre d\'offres rejetées suite a l\'éxecution du Batch Syga'"></span>
			</h2>
			</div>
			<table class="table table-striped">
				<tr>
					<th>Identifiant du Syga batch</th>
					<th>Syga batch start time</th>
					<th>Nombre des offres enregistrées</th>
				</tr>
				<tr th:each="sygaBatchRejectedOffer : ${sygaBatchRejectedOffers}">
					<td><span th:text="${sygaBatchRejectedOffer.batch_id}"></td>
					<td><span th:text="${sygaBatchRejectedOffer.start_time}"></td>
					<td><span th:text="${sygaBatchRejectedOffer.total_offers}"></td>
				</tr>
			</table>
			<hr class="style-four">
						<div class="p-3 mb-2 bg-primary text-white">
			
			<h2>
				<span
					th:text="'Nombre d\'offres erronées enregistrées suite a l\'éxecution du Batch Syga'"></span>
			</h2>
			</div>
			<table class="table table-striped">
				<tr>
					<th>Identifiant du Syga batch</th>
					<th>Syga batch start time</th>
					<th>Nombre des offres enregistrées</th>
				</tr>
				<tr th:each="sygaBatchErroneousOffer : ${sygaBatchErroneousOffers}">
					<td><span th:text="${sygaBatchErroneousOffer.batch_id}"></td>
					<td><span th:text="${sygaBatchErroneousOffer.start_time}"></td>
					<td><span th:text="${sygaBatchErroneousOffer.total_offers}"></td>
				</tr>
			</table>
		</div>



			<div class="p-3 mb-2 bg-primary text-white">
			
			<h2>
				<span
					th:text="'Nombre d\'enregistrements  suite a l\'éxecution du Batch ECP'"></span>
			</h2>
			</div>
			<table class="table table-striped">
				<tr>
					<th>Identifiant du Ecp batch</th>
					<th>Ecp batch start time</th>
					<th>Nombre d'enregistrement</th>
				</tr>
				<tr th:each="ecpMarketDocument : ${ecpMarketDocuments}">
					<td><span th:text="${ecpMarketDocument.batch_id}"></td>
					<td><span th:text="${ecpMarketDocument.start_time}"></td>
					<td><span th:text="${ecpMarketDocument.total_offers}"></td>
				</tr>
			</table>
			
			
			<div class="p-3 mb-2 bg-primary text-white">
			
			<h2>
				<span
					th:text="'Nombre d\'enregistrements dans ECP MARKET DOCUMENT suite a l\'éxecution du Batch ECP'"></span>
			</h2>
			</div>
			<table class="table table-striped">
				<tr>
					<th>Identifiant du Ecp batch</th>
					<th>Ecp batch start time</th>
					<th>Identifiant du Ecp Document</th>
					<th>Nombre de EcpTimeSeries enregistrés</th>
				</tr>
				<tr th:each="ecpTimeSerie : ${ecpTimeSeries}">
					<td><span th:text="${ecpTimeSerie.batch_id}"></td>
					<td><span th:text="${ecpTimeSerie.start_time}"></td>
					<td><span th:text="${ecpTimeSerie.ecp_document_id}"></td>
					<td><span th:text="${ecpTimeSerie.ecpTimeSeries_Total}"></td>
				</tr>
			</table>
			
			<div class="p-3 mb-2 bg-primary text-white">
			
			<h2>
				<span
					th:text="'Nombre d\'enregistrements des EcpSeriesPeriod pour chaque EcpTimeSeries'"></span>
			</h2>
			</div>
			<table class="table table-striped">
				<tr>
					<th>Identifiant du Ecp batch</th>
					<th>Ecp batch start time</th>
					<th>Identifiant du Ecp Document</th>
					<th>Identifiant du Ecp Time Series</th>
					<th>Nombre de EcpSeriesPeriod enregistrés</th>
				</tr>
				<tr th:each="ecpSeriesPeriod : ${ecpSeriesPeriods}">
					<td><span th:text="${ecpSeriesPeriod.batch_id}"></td>
					<td><span th:text="${ecpSeriesPeriod.start_time}"></td>
					<td><span th:text="${ecpSeriesPeriod.ecp_document_id}"></td>
					<td><span th:text="${ecpSeriesPeriod.ecp_timeseries_id}"></td>
					<td><span th:text="${ecpSeriesPeriod.ecpseriesperiod_Total}"></td>
				</tr>
			</table>
			
				<div class="p-3 mb-2 bg-primary text-white">
			
			<h2>
				<span
					th:text="'Nombre d\'enregistrements des EcpSeriesPoint pour chaque EcpSeriesPeriod'"></span>
			</h2>
			</div>
		<!-- 	<table class="table table-striped">
				<tr>
					<th>Identifiant du Ecp batch</th>
					<th>Ecp batch start time</th>
					<th>Identifiant du Ecp Document</th>
					<th>Identifiant du Ecp Time Series</th>
					<th>Identifiant du Ecp Series Period</th>
					<th>Nombre de EcpSeriesPoint enregistrés</th>
				</tr>
				<tr th:each="ecpSeriesPeriod : ${ecpSeriesPeriods}">
					<td><span th:text="${ecpSeriesPeriod.batch_id}"></td>
					<td><span th:text="${ecpSeriesPeriod.start_time}"></td>
					<td><span th:text="${ecpSeriesPeriod.ecp_document_id}"></td>
					<td><span th:text="${ecpSeriesPeriod.ecp_timeseries_id}"></td>
					<td><span th:text="${ecpSeriesPeriod.ecp_seriesperiod_id}"></td>
					<td><span th:text="${ecpSeriesPeriod.ecp_point_Total}"></td>
				</tr>
			</table> -->
	</div>

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>